.AboutContainer{
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color2);
    text-align: center;
}
.aboutlogo{
    margin: 20px auto 10px;
}
.AboutContainer h4{
    font-weight: 200;
    width: 500px;
    margin: 2px auto 10px;
    color: var(--secondary-color);
}
.aboutelements{
    width: 80%;
    margin: 10px auto 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.aboutelements img{
    width: 450px;
}
.rightelement{
    width: 700px;
    text-align: left;
    margin-left: 30px;
    
}
.rightelement h2{
    font-size: 2.9rem;
    color: var(--secondary-color);
}
.rightelement p{
    color: var(--ash);
    width: 600px;
    margin: 20px 0;
    font-size: .9rem;
}
.rightelement button{
    margin: 30px 0;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 600;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.rightelement button:hover{
    box-shadow: 0 0 9px 1px var(--secondary-color);
}
@media (max-width: 700px) {
    .aboutlogo{
    width: 200px;
    }
    .AboutContainer h4{
        width: 300px;
    }
    .aboutelements{
        flex-direction: column;
    }
    .aboutelements img{
        width: 300px;
    }
    .rightelement{
        width: 300px;
        margin: 10px auto;
    }
    .rightelement h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .rightelement p{
        width: 300px;
        text-align: center;

    }
    .rightelement button{
        width: 150px;
        height: 50px;
        font-size: .9rem;
        margin: 0 auto;
    }
    .bx-right-arrow-alt{
        font-size: 1.6rem;
    }
}