:root{
    --chair1: '../assets/chair.png';
    --chair2: '../assets/mobile chair.png';
}
.home-body{
    width: 100%;
    height: auto;
    min-height: 92vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#get{
    width: 85%;
    padding-top: 50px;
}
#smalltag{
    width: 80px;
    position: absolute;
    top: 108px;
    left: 61px;
}
.home-body h2{
    color: var(--ash);
    width: 70%;
    text-align: center;
    margin-top: 10px;
}
.home-body button{
    width: 220px;
    height: 60px;
    background-color: var(--tertiary-color);
    color: var(--black);
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 33px;
}
.home-body button:hover{
    box-shadow: 0px 0px 8px 1px var(--secondary-color);
}
#bigtag{
    width: 120px;
    position: absolute;
    top: 410px;
    right: 90px;
    /* z-index: -1; */
}
#chair{
    margin-top: 60px;
}
.bottom-container{
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.texts p{
    color: var(--secondary-color);
}
.polygon{
    width: 10px;
}
.orange{
    color: var(--tertiary-color);
}
.bx-right-arrow-alt{
    font-size: 2rem;
    transform: rotate(-49deg);
}

/* media query */


@media (max-width: 700px) {
    #chair{
        content: url("../assets/mobile chair.png");
    }
    .home-body{
        min-height: 500px;
    }
    .home-body h2{
        font-size: .8rem;
        width: 260px;
    }
    .home-body button{
        width: 150px;
        height: 50px;
        font-size: .9rem;
        padding: 10px 17px;
    }
    .bottom-container{
        padding: 10px 10px;
        
    }
    .bottom-container h1{
       font-size: 1.5rem;
    }
    .polygon{
        width: 7px;
    }
    .bottom-container p{
        font-size: .6rem;
    }
    #bigtag{
        width: 50px;
        top: 305px;
        right: 40px;
    }
    #chair{
        width: 100%;
    }
    .texts{
        font-size: .8rem;
    }
}