@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: rgb(32, 32, 32);
    --black: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(255, 115, 0);
    --ash: rgb(167, 167, 167);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}